<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SubmitVaccinated</servlet-name>
        <servlet-class>org.health.administration.SubmitVaccinated</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitVaccinated</servlet-name>
        <url-pattern>/SubmitVaccinated</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitReceivedVaccines</servlet-name>
        <servlet-class>org.health.inventory.SubmitReceivedVaccines</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitReceivedVaccines</servlet-name>
        <url-pattern>/inventory/SubmitReceivedVaccines</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HealthCentreAdministration</servlet-name>
        <servlet-class>HealthCentreAdministration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HealthCentreAdministration</servlet-name>
        <url-pattern>/HealthCentreAdministration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
